img{
	height: 130px;
	width: 130px;
}

#i1{
	text-align: center;
}

#i1{
	color: white;
}

#i1{
	background-color: black;
}

#i2{
	color: blue;
}

#i3{
	color: right;
}

#i3{
	color: red;
}

#i4{
	color: blue;
}

.i5{
	border-radius: 50%;
}

#i5{
	text-align: center;
}
